<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
    <title>home | fplFriend</title>
    <meta name="description" content="Fpl friend - A handy guide to fpl team management">
    <meta name="keywords" content="fpl bar-chart ronaldo github sensible transfers premium assets budget mid-range">
</head>
<body>
    <header class="homepage">
        <%- include('../partials/nav')%>
        <div class="landing grid">
            <div class="container" style="height: 45vh;">

                <form action="#" method="POST" class="player_search" autocomplete="off">

                    <div class="input-box">
                        <div class="autocomplete">
                            <input id="playerAutoComplete" type="text" name="playerAutoComplete" placeholder="player name">
                            <!-- <input id="myInput" type="text" name="myCountry" placeholder="Country"> -->
                        </div>

                        <input type="submit" value="Search">
                    </div>

                </form>

            </div>
        </div>
    </header>

    <section class="first grid">
        <div class="container">
            <h1 class="section-heading title"><%= player.first_name %> <%= player.second_name %></h1>
            <img src="" alt="" class="player-img">
        </div>
    </section>

    <%- include('../partials/footer')%>
</body>

<% if(player){ %>
    <script>
        let renderedPlayer = <%- JSON.stringify(player) %>
    </script>
<% } %> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.0.0/d3.min.js"></script>
<%- include('../partials/commonScripts')%>
<script src="../../dist/js/player.js"></script>
</html>