<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
    <title>home | fplFriend</title>
    <meta name="description" content="Fpl friend - A handy guide to fpl team management">
    <meta name="keywords" content="fpl bar-chart ronaldo github sensible transfers premium assets budget mid-range">
</head>
<body>
    <header class="homepage">
        <%- include('../partials/nav')%>
        <div class="landing grid">
            <div class="container small">

                <form action="" method="get" class="player-search" autocomplete="off">

                    <div class="input-box">
                        <div class="autocomplete">
                            <input id="playerAutoComplete" type="text" name="playerAutoComplete" placeholder="player name">
                            <!-- <input id="myInput" type="text" name="myCountry" placeholder="Country"> -->
                        </div>

                        <input type="submit" value="Search">
                    </div>

                </form>

            </div>
        </div>
    </header>

    <section class="first grid">
        <div class="container">
            <div class="section-body">
                <div class="player-summary"></div>
            </div>

            <div class="section-body">

                <div class="btns">
                    <button class="history-btn btn dark toggle primary">history</button>
                    <button class="fixtures-btn btn dark toggle">fixtures</button>
                </div>

                <div class="section-block tables">
                    <div class="table-container">
                        <table class="history-table"></table>
                    </div>

                    <div class="table-container">
                        <table class="fixtures-table invisible"></table>
                    </div>

                </div>

                <div class="section-block">
                    <div class="section-block-heading">ownership</div>
                    <div class="player-points-chart">
                        <div class="line-chart-legend">
                            <div class="line-1">
                                <div class="line"></div>
                                <p class="mini-txt">owership</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-block">
                    <div class="section-block-heading">price</div>
                    <div class="player-price-chart">
                        <div class="line-chart-legend">
                            <div class="line-1">
                                <div class="line"></div>
                                <p class="mini-txt">price</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- <section class="second grid">
        <div class="container">
            
        </div>
    </section> -->

    <%- include('../partials/footer')%>
</body>

<% if(player){ %>
    <script>
        let renderedPlayer = <%- JSON.stringify(player) %>
    </script>
<% } %> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.0.0/d3.min.js"></script>
<%- include('../partials/commonScripts')%>
<script src="../../dist/js/player.js"></script>
</html>